<div class = "limiter">
  <div class = "container-login100">
    <div class = "wrap-login100">
      <div class="login100-form validate-form">
        <h2><span class = "login100-form-title p-b-43">Sign up</span></h2>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
          <%= f.error_notification %>

          <div class="wrap-input100 validate-input w-100" data-validate = "Valid email is required: ex@abc.xyz">
            <%= f.input :email, label: false,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "input100" },
								label_html: { class: "label-input100" }%>
            </div>
          <div class="wrap-input100 validate-input" data-validate="Password is required">
            <%= f.input :password, label: false,
                    required: true,
                    hint: ("#{@minimum_password_length} minimum characters" if @minimum_password_length),
                    input_html: { autocomplete: "new-password", class: "input100" },
									label_html: { class: "label-input100" }%>
          </div>
          <div class="wrap-input100 validate-input" data-validate="Password is required">
            <%= f.input :password_confirmation, label: false,
                    required: true,
                    input_html: { autocomplete: "new-password", class: "input100" },
									label_html: { class: "label-input100" }%>
          </div>

          <div class="container-login100-form-btn">
            <%= f.button :submit, "Sign up", class: "login100-form-btn" %>
          </div>
            <% end %>
          <div class="forgot-password">
            <%= render "devise/shared/links" %>
          </div>
      </div>
      <%= image_tag("bg-01.jpg", class: "login100-more")%>
    </div>
  </div>
</div>
