<div class="profil-container mt-2">
  <div class="user-info">
    <div class= "user-card-img-container">
        <% if current_user.url_avatar %>
            <img src="<%= current_user.url_avatar %>" alt="profile one" class= "user-card-img">
        <% else %>
            <%= image_tag("avatar-neutre.jpg", class: "user-card-img") %>
        <% end %>
    </div>
    <div class = "container m-3 mp-3">
      <div class="text-start">
        <p><strong><i class="fa-solid fa-id-card"></i></strong> <%= current_user.first_name %> <%= current_user.last_name %></p>
        <%# <p><strong><i class="fa-solid fa-id-card"></i></strong> <%= current_user.last_name %>
        <p><strong><i class="fa-solid fa-envelope"></i></strong> <%= current_user.email %></p>
        <p><strong><i class="fa-solid fa-user-tie"></i></strong> <%= current_user.status %></p>
      </div>
      <%= link_to "edit", edit_user_registration_path, class: "btn-aka" %>
    </div>
  </div>

</div>
