<div class="container mt-2">
    <div class="user-info">
        <h3>
            <i class="fa-solid fa-id-card"></i></strong> <%= @teacher.first_name %> <%= @teacher.last_name %>
            <div class="teacher-rating">
                <% @teacher.courses.average(:rating).to_i.times do %>
                <i class="fa-solid fa-star" style="color: #d1c300;"></i>
                <% end %>
            </div>
        </h3>
        <% if @teacher.url_avatar %>
            <img src="<%= @teacher.url_avatar %>" alt="profile one" class= "w-10efew" style="width: 300px; height: 400px;">
        <% end %>

<div class="teacher-comments">
    <% @teacher.courses.each do |course| %>
        <h5><strong><%= course.title %></strong></h5>
        <table class="table table-bordered">
            <% course.reviews.each do |review| %>
            <tr>
                <td style="width: 15%;"><strong><%= review.user.first_name %> <%= review.user.last_name %></strong></td>
                <td><%= review.comment %></td>
                <td>
                    <% review.rating.times do %>
                    <i class="fa-solid fa-star" style="color: #d1c300;"></i>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </table>
    <% end %>
</div>

    </div>
</div>
