

<div class="navbarr shadow-lg bg-body-tertiary">
    <div class="navbar-container" data-dotaka-target="navbar">
        <%# --------------------- navbar left ---------------------%>
        <%= link_to root_path, class: "navbar-left" do %>
            <div class="logo-letter">
                <div></div>
                <h1>A</h1>
            </div>
            <h1 class="logo-letter-rest">kademics</h1>
            <div class="dot-aka" data-dotaka-target="dotaka"></div>
        <% end %>

        <%# --------------------- navbar middle ---------------------%>
        <ul class="navbar-middle">

            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div class="d-flex">
                <%= link_to courses_path, class: 'v' do %>
                    <li class="nav-item <%= active_class(courses_path) %>" data-dotaka-target="courses" data-action="mouseover->dotaka#mouseOver1 mouseout->dotaka#mouseOut1">
                        Courses
                    </li>
                <% end %>

                <%= link_to my_profil_path, class: 'v' do %>
                    <li class="nav-item <%= active_class(my_profil_path) %>" data-dotaka-target="profil" data-action="mouseover->dotaka#mouseOver2 mouseout->dotaka#mouseOut2">
                        Category
                    </li>
                <% end %>

                <%= link_to dashboard_path, class: 'd-flex align-middle ' do %>
                    <li class="nav-item <%= active_class(dashboard_path) %>" data-dotaka-target="dashboard" data-action="mouseover->dotaka#mouseOver3 mouseout->dotaka#mouseOut3">
                        Become teacher
                        <i class="fa-solid fa-person-chalkboard"></i>
                    </li>
                <% end %>
            </div>

            <li class="search-bar mysearch-bar " data-controller="searchtoggle">
                <div class="search-container d-none " data-searchtoggle-target="searchtoggle">
                    <%= form_with url: root_path, method: :get, class: "d-flex" do %>
                        <%= text_field_tag :query,
                            params[:query],
                            # class: "form-control",
                            placeholder: "Find a Cours"
                        %>
                        <%= submit_tag "Search", class: "btn-aka search_bar_button "%>
                    <% end %>
                </div>
                <i class="fa-solid fa-magnifying-glass nav-item" data-action="click->searchtoggle#toggle"></i>
            </li>
        </ul>

        <%# --------------------- navbar right ---------------------%>
        <ul class="navbar-right">
            <%= link_to "/", class: 'c' do %>
                <li class="nav-item">
                    <i class="fa-solid fa-cart-shopping"></i>
                </li>
            <% end %>

            <% if user_signed_in? %>

                <%= link_to "/", class: 'c' do %>
                    <li class="nav-item">Messages</li>
                <% end %>


                <li class="nnn" data-controller="menutoggle">
                    <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown">
                        <%= image_tag("user_profile_image.jpg", class: "avatar", data: { action: "click->menutoggle#toggle" }) %>
                    </a>
                    <div data-menutoggle-target="menu" class="d-none menu-profil">
                        <%= link_to "Profil", my_profil_path, class: "dropdown-item" %>
                        <% if current_user.status == 'teacher'  %>
                            <%= link_to "My courses", teacher_courses_path, class: "dropdown-item" %>
                        <% end %>
                        <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
                        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
                    </div>
                </li>

            <% else %>

                <li class="nav-item">
                    <%= link_to "Login", new_user_session_path, class: "nav-link btn-aka-light-login" %>
                </li>

            <% end %>
         </ul>

  </div>
</div>
