 <div class="introduction">
    <div class="introduction banner">
        <h1>Learning that gets you</h1>
        <p>Skills for your present (and your future). Get started with us.</p>
    </div>
</div>

<div class="about">
    <h2><span  data-controller="typed" data-typed-sentences-value= "<%= ['A broad selection of courses'].to_json %>"></span></h2>

    <p><span  data-controller="typed" data-typed-sentences-value= "<%=['Choose from over 210,000 online video courses with new additions published every month'].to_json %>"></span></p>
</div>
<!-------------->
<!-------------->
<div class="card featured-courses">
    <div class="card-body">
        <div class="my-bestseller-container container">
        <%= link_to courses_path do %>
            <h2>Bestseller</h2>
        <% end %>
        <ul class="cards w-50 grid gap-3">
            <% @reviews.each do |review| %>
            <%= link_to course_path(review.course) do %>
                <li class="card">
                <%= image_tag("#{review.course.category}.jpg", class: "w-100") %>
                <div>
                    <h3 class="card-title"><%= review.course.name %></h3>
                    <h6 class="card-subtitle mb-2 text-body-secondary"><%= review.rating %></h6>
                </div>
                </li>
            <% end %>
            <% end %>
        </ul>
        </div>
    </div>
</div>
<!-------------->

<!-------------->

<div class="d-inline-flex">
    <% @teachers.each_with_index do |teacher, i| %>

        <%= link_to teacher_path(teacher), class: 'my-container container  ' do %>

            <div class="card-wrapper">
                <div class="card">

                    <div class="card-image">
                        <%# <img src="https://image.ibb.co/dUTfmJ/profile_img.jpg" alt="profile one"> %>
                        <%= image_tag("teacher#{i}.png", class: "h-75") %>
                    </div>
                    <div class="details">
                        <h2><%= teacher.first_name %> <%= teacher.last_name %>
                            <br>
                            <span class="job-title"><%= teacher.profil %></span>
                        </h2>
                    </div>

                </div>
            </div><!-- end box wrapper -->
        <% end %>

    <% end %>
  </div>





<!-------------->
<div class="how-it-works">
    <h2>How learners like you are achieving their goals</h2>
    <div class="step">
        <%# <img src="URL_DE_L'IMAGE" alt="Image de l'étape 1">
        <h3>Étape 1</h3>
        <p>Explication de l'étape 1</p> %>
    </div>
    <div class="step">
        <%# <img src="URL_DE_L'IMAGE" alt="Image de l'étape 1">
        <h3>Étape 1</h3>
        <p>Explication de l'étape 1</p> %>
    </div>
    <div class="step">
        <%# <img src="URL_DE_L'IMAGE" alt="Image de l'étape 1">
        <h3>Étape 1</h3>
        <p>Explication de l'étape 1</p> %>
    </div>
    <div class="step">
        <%# <img src="URL_DE_L'IMAGE" alt="Image de l'étape 1">
        <h3>Étape 1</h3>
        <p>Explication de l'étape 1</p> %>
    </div>
</div>
