 <div class="introduction">
    <div class="introduction banner">
        <h1>Learning that gets you</h1>
        <p>Skills for your present (and your future). Get started with us.</p>
    </div>
</div>

<div class="about">
    <h2>A broad selection of courses</h2>
    <p>Choose from over 210,000 online video courses with new additions published every month</p>
</div>

<div class="featured-courses">
    <%= link_to "courses/featured", class: 'course-featured-title' do %>
        <h2>Expand your career opportunities</h2>
    <% end %>
    <% @courses.each do |course| %>
        <%= link_to course_path(course), class: 'course-card' do %>
            <h3><%= course.title %></h3>
            <p><%= course.description %></p>
        <% end %>
    <% end %>
</div>

<div class="featured-teachers">
    <%= link_to "courses/best", class: 'course-best-title' do %>
        <h2>Best Teacher</h2>
    <% end %>
    <% @teachers.each do |teacher| %>
        <div class="teacher-card">
        <!--<img src="<%= teacher.url_avatar %>" alt="Image du professeur"> <!-->
            <h3><%= teacher.first_name %> <%= teacher.last_name %></h3>
            <p><%= teacher.profil %></p>

            <%# <p><%= teacher.courses[0].reviews[0].id %></p> %>

            <% teacher.courses[0].reviews.each do |review| %>
                <p><%= review.id %></p>
            <% end %>

            <% if (teacher.courses[0] != nil)  %>
              <div class="stars">
                  <% teacher.courses[0].id.times do %>
                      <i class="fa-solid fa-star" style="color: #e5c006;"></i>
                  <% end %>
              </div>
          <% end %>
        </div>
    <% end %>
</div>

<div class="how-it-works">
    <h2>How learners like you are achieving their goals</h2>
    <div class="step">
        <%# <img src="URL_DE_L'IMAGE" alt="Image de l'étape 1">
        <h3>Étape 1</h3>
        <p>Explication de l'étape 1</p> %>
    </div>
    <div class="step">
        <%# <img src="URL_DE_L'IMAGE" alt="Image de l'étape 1">
        <h3>Étape 1</h3>
        <p>Explication de l'étape 1</p> %>
    </div>
    <div class="step">
        <%# <img src="URL_DE_L'IMAGE" alt="Image de l'étape 1">
        <h3>Étape 1</h3>
        <p>Explication de l'étape 1</p> %>
    </div>
    <div class="step">
        <%# <img src="URL_DE_L'IMAGE" alt="Image de l'étape 1">
        <h3>Étape 1</h3>
        <p>Explication de l'étape 1</p> %>
    </div>
</div>
