 <div class="introduction">
    <div class="introduction banner">
        <h1>Learning that gets you</h1>
        <p>Skills for your present (and your future). Get started with us.</p>
    </div>
</div>

<div class="about">
    <h2><span  data-controller="typed" data-typed-sentences-value= "<%= ['A broad selection of courses'].to_json %>"></span></h2>

    <p><span  data-controller="typed" data-typed-sentences-value= "<%=['Choose from over 210,000 online video courses with new additions published every month'].to_json %>"></span></p>
</div>

<div class="card featured-courses">
  <div class="card-body">
    <%= link_to courses_path, class: 'course-vedette-title' do %>
        <h2>Bestseller</h2>
    <% end %>
    <% @courses.each do |course| %>
        <%= link_to course_path(course), class: 'course-card' do %>
         <h3 class="card-title"><%= course.title %></h3>
            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
            <p class="card-text"><%= course.description %></p>
        <% end %>
    <% end %>
  </div>
</div>

<div class="featured-teachers">
    <%= link_to teachers_path, class: 'course-best-title' do %>

        <h2>Bestselling Teachers</h2>
    <% end %>
    <% @teachers.each do |teacher| %>

        <%= link_to teacher_path(teacher), class: 'course-best-title' do %>

            <div class="card teacher-card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1503945438517-f65904a52ce6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80" class="card-img-top" alt="...">
            <!--<img src="<%= teacher.url_avatar %>" alt="Image du professeur"> <!-->
                <div class="card-body">
                    <h3><%= teacher.first_name %> <%= teacher.last_name %></h3>
                    <p class="card-text"><%= teacher.profil %></p>
                </div>
            </div>
        <% end %>

    <% end %>
</div>

<div class="how-it-works">
    <h2>How learners like you are achieving their goals</h2>
    <div class="step">
        <%# <img src="URL_DE_L'IMAGE" alt="Image de l'étape 1">
        <h3>Étape 1</h3>
        <p>Explication de l'étape 1</p> %>
    </div>
    <div class="step">
        <%# <img src="URL_DE_L'IMAGE" alt="Image de l'étape 1">
        <h3>Étape 1</h3>
        <p>Explication de l'étape 1</p> %>
    </div>
    <div class="step">
        <%# <img src="URL_DE_L'IMAGE" alt="Image de l'étape 1">
        <h3>Étape 1</h3>
        <p>Explication de l'étape 1</p> %>
    </div>
    <div class="step">
        <%# <img src="URL_DE_L'IMAGE" alt="Image de l'étape 1">
        <h3>Étape 1</h3>
        <p>Explication de l'étape 1</p> %>
    </div>
</div>
