<%# <div class="home-container"> %>
    <div class="banner">
        <div class="gradiant">
            <h1>Learning that gets you</h1>
            <p>Skills for your present (and your future). Get started with us.</p>
        </div>
    </div>
<%# </div> %>

<div class="home-container">
    <div class="about">
        <h2><span  data-controller="typed" data-typed-sentences-value= "<%= ['A broad selection of courses'].to_json %>"></span></h2>
        <p><span  data-controller="typed" data-typed-sentences-value= "<%=['Choose from over 210,000 online video courses with new additions published every month'].to_json %>"></span></p>
    </div>
</div>

<!-------------->

<div class="home-container">
    <div class="home-courses">
        <div class="home-courses-title-container">
            <div class="home-courses-link">
                <h4>Popular now</h4>
                <%= link_to courses_path do %>
                    <h4 class="home-courses-link-all">See all</h4>
                <% end %>
            </div>
            <div class="d-flex">
                <i class="fa-solid fa-angle-left"></i>
                <i class="fa-solid fa-angle-right"></i>
            </div>
        </div>
        <div class="courses-category">
            <%= link_to courses_path do %>
                    <div class="btn-aka-light-login courses-category-link">All</div>
                <% end %>
            <% @courses.each_with_index do |course, i| %>
                <%= link_to courses_path do %>
                    <div class="btn-aka-light courses-category-link"><%= course.category %></div>
                <% end %>
            <% end %>
        </div>

        <div class="course-card-container">
            <% @reviews.each_with_index do |review, i| %>
                <div class='course-card'>
                <%= link_to course_path(review.course) do %>
                    <div class= "course-card-sub">
                        <%= image_tag("#{review.course.category}.jpg", class: "course-card-img") %>
                        <div class="courses-card-info">
                            <p class="courses-card-new">new</p>
                            <i class="fa-regular fa-heart courses-card-heart"></i>
                            <h3 class="card-title  <%= review.course.category%>"><%= review.course.name %></h3>
                            <p class="card-price"><%= review.course.price %> $</p>
                            <p class="card-time">1h30</p>
                            <p class="card-name"> <%= review.course.user.first_name %> <%= review.course.user.last_name %></p>
                            <div class="card-stars">

                                <% if (review.rating != nil)  %>
                                    <% review.rating.times do %>
                                        <i class="fa-solid fa-star" style="color: #e5c006;"></i>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>


<!-------------->

<% if !current_user %>
<div class="home-container">
    <div class="sign-up-container">
        <h4>Start your journey today.</h4>
        <p>Choose from 3 plans.Starting at $10/month, billed annually.</p>
        <%= link_to new_user_registration_path do %>
            <div class="btn-aka">Sign up</div>
        <% end %>
    </div>
</div>
<% end %>
<!-------------->
<div class="home-container">
    <div class="aka-line-80-primary-container">
        <div class="aka-line-80-primary"></div>
    </div>
</div>

<!-------------->

<div class="home-container">
    <div class="subscribe-container">
        <div>
            <h4>Try some of our classes</h4>
            <p>Enter your email and we’ll send you some samples of our favorite classes.</p>
        </div>
        <div>
            <p>Subcribe to our classes</p>
            <form method="post" action="subscriberform.php">
                <input type="email" name="email" placeholder=' enter your email' class="aka-input">
                <input type="submit" class="btn-aka-light-login">
            </form>
        </div>
    </div>
</div>
<!-------------->
<div class="home-container">
    <div class="home-courses">

        <div class="home-courses-title-container">
            <div class="home-courses-link">
                <h4>Our best teachers</h4>
            </div>
            <div class="d-flex">
                <i class="fa-solid fa-angle-left"></i>
                <i class="fa-solid fa-angle-right"></i>
            </div>
        </div>

        <div class="teacher-card-container">
            <% @teachers.each_with_index do |teacher, i| %>
                <div class='teacher-card'>
                <%= link_to teacher_path(teacher) do %>
                    <div class= "teacher-card-sub">
                        <div class= "teacher-card-img">
                            <% if teacher.url_avatar %>
                                <img src="<%= teacher.url_avatar %>" alt="profile one" class= "teacher-card-img-sub">
                            <% else %>
                                <%= image_tag("avatar-neutre.jpg", class: "teacher-card-img-sub") %>
                            <% end %>
                        </div>
                        <div class="teacher-card-info-gradiant"></div>
                        <div class="teacher-card-info">
                            <object>
                                <a href="#"><i class="fab fa-facebook teacher-card-social"></i></a>
                                <a href="#"><i class="fab fa-twitter teacher-card-social"></i></a>
                                <a href="#"><i class="fab fa-instagram teacher-card-social"></i></a>
                                <a href="#"><i class="fab fa-linkedin teacher-card-social"></i></a>
                            </object>
                            <div class="details">
                                <h2><%= teacher.first_name %> <%= teacher.last_name %>

                                <%# <% @teacher.courses.each do |course| %>
                                <%# <% end %>

                            </div>
                        </div>
                    </div>
                <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>


<!-------------->
<div class="home-container">
    <div class="aka-line-80-primary-container">
        <div class="aka-line-80-primary"></div>
    </div>
</div>
<!-------------->
<div class="home-container">
    <div class="home-upskill">

        <h2 class="logo-letter-rest">Akademics</h2>
        <div class="dot-aka" data-dotaka-target="dotaka"></div>
        <div>
            <h3>Upskill your team with Akademics Business</h3>
            <ul>
                <li>. Unlimited access to 22,000+ top Akademics courses, anytime, anywhere</li>
                <li>. International course collection in 14 languages</li>
                <li>. Top certifications in tech and business</li>
            </ul>
        </div>
        <div>
            <button type="submit" class="btn-aka-light-login">Get Akademics business</button>
        </div>
    </div>
</div>

<!-------------->


<!-------------->
<div class="home-container">
    <div class="home-category-step-container">
        <h3>How learners like you are achieving their goals</h3>
        <div class="home-category-step">
            <div class="step">
                <%= image_tag("lohp-category-business-2x-v2.png", class: "home-category-step-img") %>
                <h3>business</h3>
            </div>
            <div class="step">
                <%= image_tag("lohp-category-design-2x-v2.png", class: "home-category-step-img") %>
                <h3>design</h3>
            </div>
            <div class="step">
                <%= image_tag("lohp-category-development-2x-v2.png", class: "home-category-step-img") %>
                <h3>development</h3>
            </div>
            <div class="step">
                <%= image_tag("lohp-category-it-and-software-2x-v2.png", class: "home-category-step-img") %>
                <h3>software</h3>
            </div>
            <div class="step">
                <%= image_tag("lohp-category-marketing-2x-v2.png", class: "home-category-step-img") %>
                <h3>marketing</h3>
            </div>
            <div class="step">
                <%= image_tag("lohp-category-personal-development-2x-v2.png", class: "home-category-step-img") %>
                <h3>development</h3>
            </div>
            <div class="step">
                <%= image_tag("lohp-category-photography-2x-v2.png", class: "home-category-step-img") %>
                <h3>photography</h3>
            </div>
        </div>
    </div>
</div>
