<%# <div class="home-container"> %>
    <div class="banner">
        <div class="gradiant">
            <h1>Learning that gets you</h1>
            <p>Skills for your present (and your future). Get started with us.</p>
        </div>
    </div>
<%# </div> %>

<div class="home-container">
    <div class="about">
        <h2><span  data-controller="typed" data-typed-sentences-value= "<%= ['A broad selection of courses'].to_json %>"></span></h2>
        <p><span  data-controller="typed" data-typed-sentences-value= "<%=['Choose from over 210,000 online video courses with new additions published every month'].to_json %>"></span></p>
    </div>
</div>
<!-------------->
<!-------------->
<div class="home-container">

</div>

<div class="home-container">
    <div class="home-courses">
        <div class="home-courses-title-container">
            <div class="home-courses-link">
                <h4>Popular now</h4>
                <%= link_to courses_path do %>
                    <h4 class="home-courses-link-all">See all</h4>
                <% end %>
            </div>
            <div class="d-flex">
                <i class="fa-solid fa-angle-left"></i>
                <i class="fa-solid fa-angle-right"></i>
            </div>
        </div>
        <div class="courses-category">
            <% @courses.each_with_index do |course, i| %>
                <%= link_to courses_path do %>
                    <div class="btn-aka-light-login courses-category-link"><%= course.category %></div>
                <% end %>
            <% end %>
        </div>

        <div class="course-card-container">
            <% @reviews.each_with_index do |review, i| %>
                <div class='course-card'>
                <%= link_to course_path(review.course) do %>
                    <div class= "course-card-sub">
                        <%= image_tag("#{review.course.category}.jpg", class: "course-card-img") %>
                        <div class="courses-card-info">
                            <p class="courses-card-new">new</p>
                            <i class="fa-regular fa-heart courses-card-heart"></i>
                            <h3 class="card-title  <%= review.course.category%>"><%= review.course.name %></h3>
                            <p class="card-price"><%= review.course.price %> $</p>
                            <p class="card-time">1h30</p>
                            <p class="card-name"> <%= review.course.user.first_name %> <%= review.course.user.last_name %></p>
                            <div class="card-stars">

                                <% if (review.rating != nil)  %>
                                    <% review.rating.times do %>
                                        <i class="fa-solid fa-star" style="color: #e5c006;"></i>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>



<!-------------->
<div class="home-container">
    <div class="subscribe-container">
        <div>
            <h4>Try some of our classes</h4>
            <p>Enter your email and we’ll send you some samples of our favorite classes.</p>
        </div>
        <div>
            <p>Subcribe to our classes</p>
            <form method="post" action="subscriberform.php">
                <input type="email" name="email" class="aka-input">
                <input type="submit" class="btn-aka-light-login">
            </form>
        </div>
    </div>
</div>

<!-------------->
<div class="home-container">
    <div class="home-courses">

        <div class="home-courses-title-container">
            <div class="home-courses-link">
                <h4>Our best teachers</h4>
            </div>
            <div class="d-flex">
                <i class="fa-solid fa-angle-left"></i>
                <i class="fa-solid fa-angle-right"></i>
            </div>
        </div>

        <div class="teacher-card-container">
            <% @teachers.each_with_index do |teacher, i| %>
                <div class='teacher-card'>
                <%= link_to teacher_path(teacher) do %>
                    <div class= "teacher-card-sub">
                        <div class= "teacher-card-img">
                            <% if teacher.url_avatar %>
                                <img src="<%= teacher.url_avatar %>" alt="profile one" class= "teacher-card-img-sub">
                            <% end %>
                        </div>
                        <div class="courses-card-info-gradiant"></div>
                        <div class="courses-card-info">
                            <i class="fa-regular fa-heart courses-card-heart"></i>
                            <div class="details">
                                <h2><%= teacher.first_name %> <%= teacher.last_name %>
                            </div>
                        </div>
                    </div>
                <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>


<!-------------->
<div class="home-container">
    <div>
        <h2>Try some of our classes</h2>
        <p>Enter your email and we’ll send you some samples of our favorite classes.</p>
    </div>
    <div>
        <form method="post" action="subscriberform.php">
            <textarea name="message"></textarea>
            <input type="submit" class="btn-aka-light-login">

        </form>
    </div>
</div>

<!-------------->


<!-------------->
<div class="home-container">

    <div class="how-it-works">
        <h2>How learners like you are achieving their goals</h2>
        <div class="step">
            <img src="URL_DE_L'IMAGE" alt="Image de l'étape 1">
            <h3>Étape 1</h3>
            <p>Explication de l'étape 1</p>
        </div>
        <div class="step">
            <%# <img src="URL_DE_L'IMAGE" alt="Image de l'étape 1">
            <h3>Étape 1</h3>
            <p>Explication de l'étape 1</p> %>
        </div>
        <div class="step">
            <%# <img src="URL_DE_L'IMAGE" alt="Image de l'étape 1">
            <h3>Étape 1</h3>
            <p>Explication de l'étape 1</p> %>
        </div>
        <div class="step">
            <%# <img src="URL_DE_L'IMAGE" alt="Image de l'étape 1">
            <h3>Étape 1</h3>
            <p>Explication de l'étape 1</p> %>
        </div>
    </div>
</div>
