<div class ="course-index-container">
    <div class="course-index-card-container">
        <% @courses.each do |course| %>
            <div class='course-index-card'>
                <%= link_to teacher_course_path(course) do %>
                    <div class= "course-card-sub">
                        <% if course.category %>
                            <%= image_tag("#{course.category}.jpg", class: "course-card-img") %>
                        <% end %>

                        <div class="courses-card-info">
                            <h3 class="card-title  <%= course.category%>"><%= course.name %></h3>
                            <h5 class="card-title"><%= course.title %></h5>
                            <p class="card-name"> <%= course.user.first_name %> <%= course.user.last_name %></p>
                            <p class="card-price"><%= course.price %> $</p>

                            <h6 class="card-name"><%= course.name %></h6>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
  <div class = "container d-flex justify-content-center">
    <%= link_to "Create a new course", "courses/new", class: "btn-aka" %>
  </div>
