 <div class="container pt-3 d-flex flex-column align-items-center">

    <%= simple_form_for @course, url: teacher_courses_path(@course),  html: {class: "w-50 p-3"} do |f| %>
        <h2 class = "text-center">Add a course</h2>
        <%= f.error_notification %>
        <%# <%= f.error_notification message: f.object.errors[:base].to_sentence if %>
        <%= f.input :name %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :content %>
        <%= f.input :category, :collection => [ "literature", "art", "mathematics", "physics", "robotic", "chemistry", "engineering"] %>
        <%= f.input :grade %>
        <div class="btn-aka">
          <%= f.button :submit%>
        </div>
    <% end %>
</div>
