 <div class="container pt-3">

    <%= simple_form_for @course, html: {class: "w-50 shadow p-3"} do |f| %>
        <h2 class = "text-center">Add a course</h2>
        <%= f.error_notification %>
        <%# <%= f.error_notification message: f.object.errors[:base].to_sentence if %>
        <%= f.input :name %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :content %>
        <%= f.input :grade %>
        <div class="button-new-course ">
          <%= f.button :submit%>
        </div>
    <% end %>
</div>
