<%# <div class ="container"> %>
<!--------------------------------------->
<div class = "course-show-container">
  <div class="courses-show-banner-container">
        <h3 class="courses-show-category <%= @course.category%>"><%= @course.category.capitalize %></h3>
        <div class="courses-show-banner-container-sub0">
            <div class="courses-show-banner-container-sub">
                <div class="courses-show-banner-gradient"></div>
                  <%= image_tag("#{@course.category}.jpg", class: "course-show-img") %>
                  <div class="courses-show-banner-info">
                    <h2 class="courses-show-title <%= @course.category%>"><%= @course.title %> </h2>
                    <h2 class="courses-show-name"><%= @course.name%></h2>
                  </div>
                </div>
            </div>
            <div class="d-flex justify-content-around">
              <%= link_to "Edit", "edit", class: "btn-aka-light-login" %>
              <%= button_to "Delete", teacher_course_path(@course), method: :delete, class: "btn-aka-light-login", data: {turbo_confirm: 'are you sure ?'}  %>
            </div>
        </div>
  </div>
</div>
<!--------------------------------------->
        <div class="home-container">
          <div class="aka-line-80-primary-container">
            <div class="aka-line-80-primary"></div>
          </div>
        </div>


<!--------------------------------------->
<div class = "course-show-container">
    <div class = "session-container">
            <% @classes.each do |classe| %>

                <div class="session-container-sub">
                    <div class="session-img-container">
                        <%= image_tag("#{@course.category}.jpg", class: "session-img") %>
                    </div>

                    <div class="session-info-container">
                        <h3 class="<%= @course.category%>" >  <%= classe.name %></h3>
                        <p> <i class="fa-solid fa-calendar-days"></i> <%= classe.start_date %></p>
                        <p> <i class="fa-solid fa-hourglass-start"></i> <%= classe.start_date.hour %>h00</p>
                        <p> <i class="fa-solid fa-hourglass-end"></i> <%= classe.end_date.hour - classe.start_date.hour %>h00</p>
                    </div>

                    <div class="session-enrollment-container">
                        <p style="color:green">start in : <%= (classe.start_date - Time.now).hour %></p>
                        <p style="color:green">Enrollment Open</p>
                        <p style="color:green"> Available seats <%=  classe.max_people - classe.enrollments.count %> / <%=  classe.max_people %></p>

                         <%= button_to "Delete", teacher_class_path(classe), method: :delete, class: 'btn-aka-light-login', data: {turbo_confirm: 'are you sure ?'}  %>
                    </div>

                </div>

                <div class="enrollment-container">
                        <% if classe.enrollments.any? %>
                            <h4>Registered Students</h4>
                        <% end %>

                        <div class="enrollment-container-sub">
                            <% classe.enrollments.each do |enrollment| %>
                                <div class="enrollment-student-container">
                                    <div class="d-flex">
                                        <div class="enrollment-student-img-container">
                                            <% if enrollment.user.url_avatar %>
                                                <%= image_tag("#{enrollment.user.url_avatar}.jpg", class: "enrollment-student-img") %>
                                            <% else %>
                                                <%= image_tag("avatar-neutre.jpg", class: "enrollment-student-img") %>
                                            <% end %>
                                        </div>
                                        <div class="enrollment-student-info">
                                            <p><%= enrollment.user.first_name %> <%= enrollment.user.last_name %></p>
                                        </div>
                                    </div>
                                    <p><%= enrollment.created_at.strftime("%d/%m/%Y") %></p>
                                </div>
                            <% end %>
                        </div>
                </div>

            <% end %>
        <%# </div> %>
    </div>
</div>
<div class = "container d-flex justify-content-center">
    <%= link_to "Create a new class", new_teacher_course_class_path(@course), class: 'btn-aka-light-login' %>
</div>
</div>
<!--------------------------------------->
<%# </div> %>
