
<!-------------->
<div class ="course-index-container">
    <div class="courses-index-category">
        <% @courses.each_with_index do |course, i| %>
            <%= link_to courses_path do %>
                <div class="courses-index-category-link"><%= course.category %></div>
            <% end %>
        <% end %>
    </div>

    <div class="course-index-card-container">
        <% @courses.each do |course| %>
            <div class='course-index-card'>
                <%= link_to course_path(course) do %>
                    <div class= "course-card-sub">
                        <% if course.category %>
                            <%= image_tag("#{course.category}.jpg", class: "course-card-img") %>
                        <% end %>

                        <div class="courses-card-info">
                            <h3 class="card-title  <%= course.category%>"><%= course.name %></h3>
                            <h5 class="card-title"><%= course.title %></h5>
                            <p class="card-name"> <%= course.user.first_name %> <%= course.user.last_name %></p>
                            <p class="card-price"><%= course.price %> $</p>
                            <%# <p class="card-price">2h </p> %>

                            <h6 class="card-name"><%= course.name %></h6>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>

<!-------------->
