<div class = "container">
<%= image_tag("shakespeare.jpeg", class: "img-fluid") %>
    <h1><%= @course.title %></h1>
    <h2><%= @course.name%></h2>

</div>

<div class = "col">
    <% @classes.each do |classe| %>

        <%= link_to class_enrollments_path(classe), method: :post, data: {turbo_method: :post},  class: 'course-best-title' do %>
            <div>
                <p><%= classe.name %></p>
                <p><%= classe.class_date %></p>
                <div class="d-flex card">
                    <p><%= classe.start_date %>h00</p>
                    <p><%= classe.end_date.hour %>h00</p>
                </div>
            </div>
        <% end %>

    <% end %>
</div>
