 <div class="courses-show-container container pt-3">
        <%= image_tag("#{@course.category}.jpg", class: "img-fluid") %>
        <h1 class="course-title"><%= @course.title %> by <%= @course.user.first_name%> <%= @course.user.last_name%> </h1>
        <h2 class="course-name"><%= @course.name%></h2>
    </div>

    <div class="col">
        <% @classes.each do |classe| %>
        <div class="d-flex">
                <div class="card">
                     <h3><%= classe.name %></h3>
                     <h3></h3>
                    <p>Class Date : <%= classe.class_date %></p>
                    <p>Start time : <%= classe.start_date.hour %>h00</p>
                    <p>End time : <%= classe.end_date.hour %>h00</p>
                </div>
            <%= button_to "Enroll now", class_enrollments_path(classe), method: :post, class: 'btn-aka', data: {turbo_confirm: 'are you sure ?'}  %>
        </div>


        <% end %>
    </div>
