<!DOCTYPE html>
<html>
  <head>
    <title>Akademics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
   </head>

  <body data-controller="dotaka" data-action="scroll@window->dotaka#detectscroll" data-dotaka-target="body">
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div class="background-container">
        <div class="background-rouded-div1"></div>
        <div class="background-rouded-div2"></div>
        <%# <div class="background-rouded-div3"></div> %>
    </div>

    <%= yield %>

        <%= render "shared/footer" %>
        <%= render "shared/gototop" %>
        <%# <script src="js/main.js"></script> %>
  </body>
</html>
